Incorrect line breaks.

RFC 2045 defines CRLF as line break sequence - https://tools.ietf.org/html/rfc2045#section-2.1 .

So when it says in "Base64 Content-Transfer-Encoding" section that 
> The encoded output stream must be represented in lines of no more  than 76 characters each.
it implies CRLF as line break to use.

Or maybe line break sequence can be added as additional param to encode?
(decode can be left as-is should ignore all line breaks and characters outside base 64 alphabet anyway).

I'm creating this issue mostly because when Base64 line break is inconsistent with rest of the email (for example created with Email::MIME that uses CRLF by default) it causes weird edge cases for DKIM canonicalization algorithms described in http://www.ietf.org/rfc/rfc6376.txt.

RFC 6376 mandates that you "network normalize" the mail before applying canonicalization:

> 3.4.  Canonicalization
> Canonicalization simply prepares the email for presentation to the signing or verification algorithm.  It MUST NOT change the transmitted data in any way. Canonicalization of header fields and body are described below.
> NOTE: This section assumes that the message is already in "network normal" format (text is ASCII encoded, lines are separated with CRLF characters, etc.).  See also Section 5.3 for information about normalizing the message.

I am interpreting it like this:

* There's no reason to do anything special about line breaks during decoding.
* When decoding, first canonicalize à la section 5.3, then verify, then decode. You can optimize the combination of canonicalization and verification, though I'm not sure whether such an optimization would be worth the additional code complexity.

I see no reason for a parameter in either direction.

Disclaimer: I haven't read the pertinent RFCs in their entirely, so I may be missing relevant aspects.

You interpreted the RFC correctly. You can "network normalize" (RFC 6376 section 5.3) both received and outgoing message to be sure canonicalization is applied correctly in both directions. However this is quite expensive operation both in terms of CPU and memory - the fastest method in Perl 6 is split + join that takes 0.03s per 100KB Base64 encoded content (benchmarked on i7 4770K) to convert LF -> CRLF. May seem low, but for example in my Perl 5 $dayjob we're sending about 100_000_000 emails daily. That means if we want to switch to Perl 6 then just fixing LF would cost us... 34 days of CPU time per day :)

My point is that network normalization can be entirely avoided if message is composed already in RFC 2045 complaint way - with CRLF endings - and DKIM signed before passing through any SMTP transport that may break those endings. 


(oO 100 mio mails _per day_ - what kind of legitimate business would do this? ... well nvm, just wondering...)

If you're sending mails, I'm not sure where exactly you'd be doing duplicate work, or what kind of change you're proposing.

Im sorry about very late reply.

I work at GetResponse.com email marketing company - legitimate business that allows you to contact your subscribers easily, personalize emails, create automation workflows, etc. And the sending volume makes it a crazy job in terms of scaling - for example if after some changes single email is being sent 0.001s slower that means wasting 27 CPU hours per day.

As for the gist of this issue: LF endings instead of CRLF endings force DKIM signer (which I'm working on right now: https://github.com/bbkr/EmailDKIM ) to apply expensive network normalization. This can be entirely skipped if Base64 MIME part is constructed in RFC 2045 compliant way and it is used by tool that also uses CRLF endings (like https://github.com/retupmoca/p6-Email-MIME ). My proposal is to simply add optional line ending param `MIME::Base64.encode-str("foo", eol => "\x0D\x0A")` just like Perl 5 version of MIME::Base64 has. This way it won't be necessary to "fix" message for DKIM right after composing it.